{% extends "base.html.twig" %}
{% block title %}Add Todo{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>Form Todo List</h1>
        {{ form(form) }}
        {# <form method="POST" action="{{ path('todo_create') }}">
            <div class="form-group">
                <label for="description">
                    Description
                </label>
                <input type="text" class="form-control" name="description" id="description" autofocus autocomplete="off">
            </div>
            <button type="submit" name="submit" class="btn btn-primary btn-md">
                Simpan Todo
            </button>
        </form> #}
    </div>
</div>
{% endblock %}