{% extends 'base.html.twig' %}

{% block title %}TodoController!{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center table-warning text-secondary">
                        <tr>
                            <th scope="col">
                                No
                            </th>
                            <th scope="col">
                                Todo
                            </th>
                            <th scope="col">
                                Status
                            </th>
                            <th scope="col">
                                Pilihan
                            </th>
                        </tr>
                    </thead>
                    <tbody class="">
                        {% for i, data in todos %}
                        <tr>
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>
                                {{ data.description }}
                            </td>
                            <td>
                                {% if data.isDone %}
                                    {{ "Selesai Pada:\t" ~ (data.doneAt | date("d-m-Y H:i:s")) }}
                                {% else %}
                                    {{ "Belum Selesai" }}
                                    <a href="{{ path('todo_done', {id: data.id}) }}" class="btn btn-success btn-sm float-right" id="btn-edit">
                                    Set Selesai
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <div  class="d-flex justify-content-between">
                                    <a href="{{ path('todo_form', {id: data.id}) }}" class="btn btn-warning btn-sm  mr-2" id="btn-edit">
                                        Edit
                                    </a>
                                    <a href="{{ path('todo_delete', {id: data.id}) }}" class="btn btn-danger btn-sm" id="btn-delete">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('todo_form') }}" class="btn btn-primary btn-md" id="btn-tambah">
                    Tambah Baru
                </a>
            </div>
        </div>
    </div>
{% endblock %}
